.body{
	background-color:black;
	background-image:
	https://raw.githubusercontent.com/letgab37/CV-gabriel/master/matricecode.jpg;
}



.fondcv{
	width: 980px;
	margin: auto;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-ser;
	font-size: 16px;
}

.coord{
	height: 250px;
}

.address{
	float: left;
}

.photo{
	float: right;
}

