.divbg{
	
	background-color :moccasin;
	linear-gradient(moccasin, green);
	
	
	
	}
	



.fondcv{
	
	width: 980px;
	margin: auto;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	box-shadow: 2px 3px 4 px black;
	border: 5px solid #3388CC;
	background-color: white;
}

.coord{
	height: 250px;
}

.address{
	float: left;
}

.photo{
	float: right;
}


.part{
	
margin-bottom : 70 px;


}

.leftpart{
	

float: left;

}

.rightpart{
	
margin-left: 150px;

}
