.divbg{
	
	background-color :moccasin;
	linear-gradient(moccasin, green);
	
	
	
	}
	



.fondcv{
	
	width: 980px;
	margin: auto;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	box-shadow: 2px 3px 4 px black;
	border: 5px solid #3388CC;
	background-color: white;
}

.coord{
	height: 250px;
	margin-left: 25px;
}

.address{
	float: left;
}

.photo{
	float: right;
	margin-right: 25px;
	margin-top: 25px;
}


.part1{
	

text-align: justify;


}

.leftpart1{
	

float: left;
font-weight: bold;
font-size: 20px;
margin-left: 20px;

}

.rightpart1{

margin-top :42px;
margin-left: 170px;
margin-right: 10px;


}

h2{
	
font-size: 28px;
color: #3388BB;
border-bottom: 3px solid #3388DD;


}


.titre{
	
font-weight:bold;
font-size: 23px;


}


#formaleft p {
	margin-top: 52px;
	margin-bottom : 165px;
	 
}

#formaleft2 p {
	margin-top: 50px;
	
	 
}

#formaleft3 p {
	margin-top: 170px;
	
	 
}

.part2{
	

text-align: justify;


}

.leftpart2{
	

float: left;
font-weight: bold;
font-size: 20px;
margin-left: 20px;

}

.rightpart2{

margin-top :42px;
margin-left: 170px;
margin-right: 10px;
}

#expleft p {
	margin-top: 20px;
	margin-bottom : 30px;
	 
}


#expleft1 p {
	margin-top: 102px;
	
	 
}

#expleft2 p {
	margin-top: 119px;
	
	 
}

#expleft3 p {
margin-top: 119px;
}


#expleft4 p {
margin-top: 102px;
}

#expleft5 p {
margin-top: 125px;
}

strong {

	font-size: 22px;
	
}
