div:target {
    padding-top: 7em; 
    margin-top: -7em; 
}

body
{
	margin: 0;
	padding: 0;
}

.head
{
	width: 100%;
	height: 63px;
	/*background-color: green;*/
	
	/*box-shadow: 3px 0px 5px grey;*/
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	position: fixed;
	top:0;
	left:0;
	
	height: 63px;
	background-color: blue;
	opacity: 0.6;
	filter: alpha(opacity=80);
	/*background: rgba (0,0,0,0.6);*/
	padding: 0 100px;
	box-sizing: border-box;
}


/*nav{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 63px;
	background-color: blue;
	opacity: 0.6;
	filter: alpha(opacity=80);
	background: rgba (0,0,0,0.6);
	padding: 0 100px;
	box-sizing: border-box;
	
}*/

nav .bandeau{

float: left;
height: 100%;
line-height: 63px;
}

nav .bandeau h1 {
	
margin:0;
	padding:0;
	color:#fff;	
}

nav ul{
	
float: right;
	display: flex;
	margin: 0;
	padding: 0;
}

nav ul li{
	
	list-style: none;
}

nav ul li a {
	
	position: relative;
	display: block;
	height: 63px;
	line-height: 63px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;	
}

nav ul li a:hover
{
	color: #262626; 

}

nav ul li a:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(0);
	transition: transform .5s;

}

nav ul li a:hover:before
{
	transform-origin: left;
	transform: scaleX(1);
}



.divbg{
	/*background-size: cover;
	box-sizing: border-box;*/
	width: 100%;
   /* left: 50px;
    width: calc(100% - 100px);
    border: 1px solid black;
    
    padding: 5px;*/
	background-color :moccasin;
	/*border-top: 10px solid #37f;*/
	/*box-shadow: 3px 0px 5px grey;*/
	/*linear-gradient(moccasin, green);*/
	
	
	
	}

.pres{
	
width: 980px;
	margin:auto;
	text-align: center;
	text-align: justify;
	margin-bottom: 30px;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	
}
	



.fondcv{
	
	width: 980px;
	margin: auto;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	border: 5px solid #3388CC;
	border-radius: 10px;
	box-shadow: 2px 3px 4 px black;
	background-color: white;
	
	
}

.coord{
	height: 250px;
	margin-left: 25px;
}

.address{
	float: left;
}

.photo{
	float: right;
	margin-right: 25px;
	margin-top: 25px;
}


.part1{
	

text-align: justify;


}

.leftpart1{
	

float: left;
font-weight: bold;
font-size: 20px;
margin-left: 20px;

}

.rightpart1{

margin-top :42px;
margin-left: 170px;
margin-right: 20px;


}

h2{
	
font-size: 28px;
color: #3388BB;
border-bottom: 3px solid #3388DD;
margin-left: 20px;
margin-right: 20px;

}


.titre{
	
font-weight:bold;
font-size: 23px;


}


#formaleft p {
	margin-top: 52px;
	
	 
}

#formaleft2 p {
	margin-top: 20px;
	
	 
}

#formaleft3 p {
	margin-top: 170px;
	
	 
}

.part2{
	

text-align: justify;


}

.leftpart2{
	

float: left;
font-weight: bold;
font-size: 20px;
margin-left: 20px;

}

.rightpart2{

margin-top :42px;
margin-left: 170px;
margin-right: 20px;
}

#expleft p {
	margin-top: 20px;
	margin-bottom : 30px;
	 
}


#expleft1 p {
	margin-top: 30px;
	
	 
}

#expleft2 p {
	margin-top: 40px;
	
	 
}

#expleft3 p {
margin-top: 40px;
}


#expleft4 p {
margin-top: 40px;
}

#expleft5 p {
margin-top: 40px;
}

strong {

	font-size: 22px;
	
}


#infos {

margin-left: 20px;
font-size: 20px;
	
}

.select:hover {
	
color: 	#3CAEA3;

}
